<form [formGroup]="updatemarks">
  <br>
  <br>
  <br>
  <h1 style="text-align:center ;">
    {{subject | uppercase}}
    <br>
    <br>
  </h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" width="30%">Id</th>
        <th scope="col" width="40%">Marks</th>
        <th scope="col" width="30%">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let marksget of getmarks">
        <th scope="row"><label for="exampleInputEmail1" class="form-label">{{marksget.id}}</label></th>
        <td>
          <label for="exampleInputEmail1" class="form-label"
            *ngIf="!change && marksget[subject]!=-1 ">{{marksget[subject]}}</label>
          <label for="exampleInputEmail1" class="form-label"
            *ngIf="!change && marksget[subject]!=mar && marksget.id==id">{{mar1}}</label>
          <input type='number' style="width:'70px' ;" *ngIf="change && id==marksget.id" formControlName="value"
            [(ngModel)]="mar">
        </td>
        <td>
          <button type="submit" class="btn btn-primary" (click)="update(marksget.id, true)"
            *ngIf="!change">Update</button>
          <button type="submit" class="btn btn-danger" (click)="update(marksget.id,false)"
            *ngIf="change && id==marksget.id">ok</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>