<div class="col-lg-6 mb-5 mb-lg-0 position-relative">
    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    Oops!
                    <br>
                    404 Not Found
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a href='' class="btn btn-primary btn-lg btn-rounded gradient-custom text-body px-5">Take Me
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>